@implements IDisposable

@using Microsoft.AspNetCore.Identity
@using TablePond.Data
@using TablePond.Data.DTO
@using TablePond.Services
@using System.Diagnostics

@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject TableService tableService

@* Title *@
<div class="top-row ps-3 navbar navbar-dark">
    <a class="navbar-brand" href="">🐸 Table Pond</a>
</div>

@* Button for toggling the left-side menu on phones *@
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

@* Left-side menu *@
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        @* Home link *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>

                @* Dynamically create menu entries to user's tables *@
                @foreach (TableDTO table in _userTables)
                {
                    @*The string must be pre-defined using C#*@
                    var tableUrl = $"table/{table.Id}";

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@tableUrl">
                            <span class="bi bi-file-earmark-richtext-nav-menu" aria-hidden="true"></span> @table.Name
                        </NavLink>
                    </div>
                }

                @* Link to account management *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> 
                            @if (user != null)
                            {
                                @user.Nickname
                            }
                    </NavLink>
                </div>

                @* Logout action *@
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>

            </Authorized>

            <NotAuthorized>

                @* Login action *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>

                @* Register action *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>

            </NotAuthorized>

        </AuthorizeView>
    </nav>
</div>

@code {

    private ApplicationUser? user;
    private string? currentUrl;
    private List<TableDTO> _userTables = new List<TableDTO>();

    protected override async Task OnInitializedAsync()
    {

        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var claimsPrincipal = authState.User;

        if (claimsPrincipal.Identity?.IsAuthenticated == true)
        {
            // Retrieve the ApplicationUser using UserManager
            user = await UserManager.GetUserAsync(claimsPrincipal);
        }

        // Get user tables
        _userTables = await tableService.GetUserTables();

    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

