@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<p>Welcome to your personal, small-scale data manager.</p>

<p>
    Login to access your tables. <br />
    You may also create new tables with custom fields.
</p>

<p>
    This app is meant to be self-deployed, perhaps even running on localhost. <br />
    However if you wish to invite people to use this app, you can generate an invite link. <br />
    All tables are private to the person who created them and cannot be shared. <br />
</p>
