@page "/table/{tableId:int}"

@using Microsoft.AspNetCore.Authorization
@using PepeWeb.Data.DTO;
@using PepeWeb.Data.VirtualModels;
@using System.Diagnostics

@inject PepeWeb.Services.TableService tableService

@attribute [StreamRendering]
@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<AuthorizeView>
    <Authorized>
       
        <h1>@_table.Name</h1>
        <button class="btn btn-success" type="button" @onclick="AddRecord">+ Add record</button>
        <button class="btn btn-outline-warning" type="button" @onclick="EditTable">Edit table</button>

        <table class="table">
            <tr>
                @foreach (FieldDTO col in _table.Columns)
                {
                    <th>@col.Name</th>
                }
            </tr>
            @foreach (TableRow row in _table.Rows)
            {
                <tr>
                    @foreach (string val in row.Values)
                    {
                        <td>@val</td>
                    }
                </tr>
            }
        </table>

    </Authorized>
    <NotAuthorized>
        You are not authorized to view this content. Please log in.
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public int tableId { get; set; }

    

    private TableConstructDTO _table = new TableConstructDTO()
    {
        Columns = new List<FieldDTO>(),
        Rows = new List<TableRow>() { new TableRow() { Values = new List<string>() } },

    };


    protected override async Task OnInitializedAsync()
    {
        // Get user's table
        TableConstructDTO userTable = await tableService.GetUserTableData(tableId);
        _table = userTable;
        
        //

    }

    private void AddRecord()
    {
       

    }

    private void EditTable()
    {


    }

}